@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box !important;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

.haz * {
  margin: 0;
}

.pr-color {
  color: #7d0381 !important;
}

.pr-bg {
  background-color: #7d0381 !important;
}

.btn-outline-pr {
  color: #7d0381 !important;
  border: solid 1px #7d0381;
}

.btn-outline-pr:hover {
  background-color: #7d0381 !important;
  color: #f1f1f1 !important;
  border: solid 1px #7d0381;
}






body {
  background-color: #ffebff;
}

button {
  border: none;
  outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

nav {
  background: linear-gradient(96deg, #7d0381 28.67%, #37004a 116.25%);
}

nav ul li img {
  width: 23px;
}

nav ul .link {
  padding: 15px 25px;
  color: #fff7ff;
  font-size: 1.4rem;
}

nav ul li {
  padding: 12px 18px;
  color: #fff7ff;
  font-size: 1.2rem;
}

nav .link:hover,
.link.active {
  background-color: #fff7ff !important;
  color: #7d0381 !important;
  cursor: pointer;
  transition: all 0.4s;
}

.zones svg {
  background-color: #ffeaff;
  border-radius: 6px;
  border: solid 2px #7d0381;
  color: #7d0381 !important;
  padding: 8px;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.zones .zone-edit svg {
  padding: 12px;
  width: 55px;
  height: 55px;
  cursor: pointer;
}

.zones svg.disabled {
  background-color: #ffeaff;
  border: solid 2px #7d038145;
  color: #7d038128 !important;
}

.zones .feats {
  display: flex;
  margin-top: 9px;
}

.zones .feats .feat {
  cursor: pointer;
  margin: 0 20px !important;
  margin-left: 0 !important;
}

.form-check-input {
  cursor: pointer;
  transform: scale(1.2);

}

.form-check-input:checked {
  background-color: #7d0381;
}

.zones .form-check-input {
  cursor: pointer;
  transform: scale(1.5);
}

.zone-edit .form-check-input {
  cursor: pointer;
  transform: scale(1.2);
}

.zones button {
  width: 110px;
  font-size: 0.85rem;
}

.zones .zone-image {
  height: 490px;
}

.zones .zone-image img {
  width: 100%;
  height: 100%;
}

.all-cam img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.all-cam .zone-image {
  height: 350px;
}

.all-cam .zone-image .cam-info {
  background-color: #7d0381c5;
}


.all-cam .zone-image .icon {
  padding-top: 9.1px;
  cursor: pointer;
  width: 45px;
  height: 45px;
}










/* added by sifo */


.selectbox {
  height: 42px;
  padding: 10px;
  border-radius: 50px;
  border: none;
  background: #FFD5FF;
  color: #7D0381;
  font-size: 17px;
  margin-left: 18px;
}

.statflex {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.statflex div:first-of-type {
  width: 60%;
  display: flex;
}


.statflex div:nth-of-type(2) {
  width: 40%;
}




/* end by sifo */












@media only screen and (max-width: 668px) {
  .zones {
    width: fit-content;
  }

  .zones svg {
    width: 35px;
    height: 35px;
  }

  .zones .feats .feat {
    margin: 0 3px !important;
  }

  .zones .form-check-input {
    transform: scale(1);
  }

  .zones button {
    width: max-content;
    padding: 2px 5px !important;
    font-size: 1rem;
  }

  .zones button span {
    display: none;
  }

  .zones .si,
  .zones .ni {
    font-size: small !important;
  }

  .zones th {
    font-size: x-small;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}